<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/ideas/list">Ideas</a></li>
    <li class="breadcrumb-item active">Add</li>
</ol>

<h3 class="display-6 pb-3">Add Video Idea</h3>
    <form action="/ideas/create" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea name="body" class="form-control"></textarea>
            <input type="submit" value="submit" class="btn btn-primary btn-lg mt-4">
        </div>
    </form>