<div class="jumbotron text-center mt-4">
  <h1 class="display-4">Welcome to Vidjot Application</h1>
<p class="md-4">This is a sails js application for managing video ideas</p>
<a href="/ideas/list" class="btn btn-secondary">View Ideas</a>
<a href="/ideas/add" class="btn btn-primary">Add an Idea</a>
</div>
